@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-level-1: #1e1e1e;
  --bg-level-2: #232323;
  --bg-level-3: #252525;
  --bg-level-4: #272727;
  --bg-level-5: #2c2c2c;
  --bg-level-6: #2f2f2f;
  --bg-level-7: #333333;
  --bg-level-8: #353535;
  --bg-level-9: #383838;
}

body {
  @apply bg-black text-slate-100 font-rubik ;
}

button {
  @apply rounded-lg bg-[--bg-level-9] px-4 py-2 hover:shadow-lg font-medium tracking-wide;
}
