@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-level-1: #1e1e1e;
  --bg-level-2: #232323;
  --bg-level-3: #252525;
  --bg-level-4: #272727;
  --bg-level-5: #2c2c2c;
  --bg-level-6: #2f2f2f;
  --bg-level-7: #333333;
  --bg-level-8: #353535;
  --bg-level-9: #383838;
}

body {
  @apply bg-black text-slate-100;
}

button {
  @apply rounded-lg bg-[--bg-level-9] px-4 py-2 font-medium tracking-wide hover:shadow-lg;
}
